In [3]:
import pandas as pd
import numpy as np
import os

In [24]:
lyrics = pd.read_csv(os.pardir+'/metadata/Song_Lyrics.csv')
songs = pd.read_csv(os.pardir+'/metadata/Song.csv')
stations = pd.read_csv(os.pardir+'/metadata/Station_Song.csv')
station_tags = pd.read_csv(os.pardir+'/metadata/Station_Tag.csv')
tag_info = pd.read_csv(os.pardir+'/metadata/Station_Tag_Info.csv')

#### 가사 정보에 대한 결측치 확인

In [29]:
length = lyrics['LYRICS'].apply(lambda x:len(x))
length.quantile(0.05)

175.0

In [30]:
# 가사의 길이가 100자 이하라면 가사정보가 누락된 것으로 추정한다.
lyrics[length < 100].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58 entries, 4 to 1199
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   IDX      58 non-null     int64
 1   SONG_ID  58 non-null     int64
 2   LYRICS   58 non-null     object
dtypes: int64(2), object(1)
memory usage: 1.8+ KB

#### 각 스테이션의 구성 확인

- 57개의 스테이션, 내부에 수록된 곡의 수는 변동
- 각 스테이션마다 6개의 세부 감성으로 분류된 태깅 존재

In [56]:
stations['ST_ID'].unique().shape

(57,)

In [63]:
tag_dict = {}
for i in range(len(tag_info)):
    tag_dict[tag_info['IDX'].iloc[i]] = tag_info['TAG_NAME'].iloc[i]

In [71]:
station_tag_dict = {}
for i in range(len(station_tags)):
    station_tag_dict[station_tags['ST_ID'].iloc[i]] = station_tags['ST_TAG_ID'].iloc[i]

- 스테이션에 포함된 곡들을 해당 스테이션의 감성으로 태깅
- song_id, song_name, song_lyrics, senti_tag 로 구성

In [80]:
station_ids = stations['ST_ID'].unique()

song_id = []
song_name = []
song_lyric = []
senti_tag = []

for case in station_ids:
    temp = stations[stations['ST_ID'] == case]
    for i in range(len(temp)):
        senti_tag.append(station_tag_dict[temp['ST_ID'].iloc[i]])
        song_id.append(temp['SONG_ID'].iloc[i])
        break
    break

In [72]:

stations[stations['ST_ID'] == station_ids[0]]

        IDX   ST_ID   SONG_ID  PRIORITY
0   1943611  154837  32399836         1
1   1943612  154837  31052006         2
2   1943613  154837   4196651         3
3   1943614  154837  31448485         4
4   1943615  154837  30773556         5
5   1943616  154837   3857212         6
6   1943617  154837   4009751         7
7   1943618  154837  30773554         8
8   1943619  154837  31764887         9
9   1943620  154837   3947371        10
10  1943621  154837   5562520        11
11  1943622  154837   5562521        12
12  1943623  154837  31448480        13
13  1943624  154837   8248801        14
14  1943625  154837   4009753        15
15  1943626  154837  31266289        16
16  1943627  154837   3685690        17
17  1943628  154837   4041405        18
18  1943629  154837   3726617        19
19  1943630  154837  30351588        20
20  1943631  154837   8248802        21
21  1943632  154837  32399824        22
22  1943633  154837   5835766        23
23  1943634  154837   3818841        24
24  1943635  154837   4012610        25
25  1943636  154837   4041408        26
26  1943637  154837   4643464        27
27  1943638  154837  31448486        28